.effect-1,
.effect-2 {
  overflow: hidden;
}

.effect-2::after {
  content: "";
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0d1b34;
  z-index: -1;
}
